body{
    font-family :monospace;
    background-color: antiquewhite;
    align-items: center;

}
canvas{
    background-color: aqua;
    margin-left: 17%;
}
.img{
    display: none;
    width: 0px;
    height: 0px;
}
#scoreBoard{
    margin-top: 10%;
    font-size: 400%;
    text-align: center;
}
a{
    color: black;
    background-color: red;
    padding: 45px;
    border: 2px inset;
    border-radius: 50%;
    font-size: 150%;
    text-decoration: none;

}
a:hover{
    background-color: blueviolet;
    cursor: pointer;
}
